@inject IOscClient OscClient

<button class="@DefaultClass @Class" @onclick=@(() => Press())>@Title</button>

@code {
    Hub hub = Hub.Default;

    private string _Title = null;

    [Parameter]
    public string Title {
        get {
            return _Title ?? Value;
        }
        set
        {
            _Title = value;
        }
    }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string DefaultClass { get; set; } = "btn eosbutton";


    private void Press()
    {
        hub.Publish<EosKey>(new EosKey(Value));
    }
}
