@inject IOscClient OscClient

<button class="btn btn-primary" @onclick=@(() => Press())>@Title</button>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Value { get; set; }

    Hub hub = Hub.Default;

    private void Press()
    {
        hub.Publish<EosWeb.Core.Messages.EosMacro>(new EosWeb.Core.Messages.EosMacro(Value));
    }

}
