


.eosbutton {
    width: 64px;
    height: 64px;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    padding: .25rem .5rem;
    font-size: .95rem;
    line-height: 1;
}
    .eosbutton:hover {
        color: white;
        
    }

.eosbutton1wide{
    width: 15px;
    height: 15px;
}

.eosbutton2wide {
    width: 110px;
    height: 68px;
}


.eosbuttonmed {
    width: 80px;
    height: 68px;
}

.logText {
    margin-left: 10vw;
    margin-right: 10vw;
    min-width: 300px;
    width: 80vw;
    min-height: 200px;
    height: 300px;
}

.cuelistbuttonbar{
    align-content: center;
}

.commandBar {
    width: 100%;
    height: 55px;
}
.commandline {
    border: 2px solid gold;
    outline: black solid 3px;
    margin: 2px;
    padding: 15px;
    text-align: left;
    background-color: black;
    color: gold;
    text-size-adjust: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80vw;
    height: 55px;
    float: left;
}
.commandlineButton {
    border: 2px solid gold;
    outline: black solid 3px;
    margin-left: 4px;
    
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 75px;
    height: 55px;
    float: left;
}


.activeCue {
    border: 1px solid gold;
    border-radius: 10px;
    outline: black solid 3px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    background-color: gold;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 35px;
    float: left;
}


.pendingCue {
    border: 1px solid gold;
    border-radius: 10px;
    outline: black solid 3px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 35px;
    float: left;
}


@media (max-width: 767.98px) {

    .commandBar {
        width: 100%;
        height: 40px;
    }

    .commandline {
        border: 1px solid gold;
        outline: black solid 1px;
        margin: 0px;
        padding: 5px;
        text-align: left;
        background-color: black;
        color: gold;
        text-size-adjust: 80%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 75%;
        height: 40px;
        float: left;
    }

    .commandlineButton {
        border: 1px solid gold;
        outline: black solid 1px;
        margin-left: 2px;
        text-align: center;
        vertical-align: middle;
        background-color: black;
        color: gold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 90px;
        min-width: 50px;
        height: 40px;
        float: left;
    }

}


.navButton {

    width: 80px;
    height: 40px;
    color: #fff;
    background-color: black;
    border-color: darkslategrey;
}


.navBar {
    color: white;
    background-color: black;
    border-color: black;
}

.keyboard {
    
    border: 0px solid black;
    outline: black solid 10px;
    margin: auto;
    padding: 0px;
    text-align: left;
    background-color: black;
    color: white;
    text-size-adjust: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.commandArea{
    background-color: black;
    height: 100vh;
}

.cue-active {
    color: gold;
}

.playButton {
    color: limegreen;
}

i.playButton:hover {
    color: lawngreen;
}
.EosStop{
    color: white;
    background-color: darkred;
    
}

.EosGo {
    color: white;
    background-color: darkgreen;
   
}

button.EosStop:hover {
    color: white;
    background-color: red;
}
button.EosGo:hover {
    color: white;
    background-color: green;
}