
    <div class="col-xs-12 col-sm-12 commandBar">
        <div class="commandline">@((MarkupString)commandLine)</div>
        <EosButton DefaultClass="" Class="commandlineButton" Value="Clear_CmdLine" Title="Clear All" />
    </div>

    @code {

        private string commandLine = " ";
        private string diamond = "&#9830;";
        Hub Hub = Hub.Default;

        protected override void OnInitialized()
        {
            base.OnInitialized();

            Hub.Subscribe<OscMessage>((message) =>
            {
                InvokeAsync(() =>
                {
                    if (message.Address == "/eos/out/cmd")
                    {
                        commandLine = "";
                        foreach (var item in message.Data)
                        {
                            string data = item.ToString().TrimEnd('0').Replace("#", diamond);
                            commandLine += data;
                        }
                        StateHasChanged();
                    }
                });
            });
        }
    }
