@using PubSub
@using Bespoke.Osc
@using EosWeb.Blazor.Data
@inject IOscClient OscClient
<button class="btn btn-primary eosbutton @Class" @onclick=@(() => Press())>@Title</button>

@code {
    private string _Title = null;

    [Parameter]
    public string Title {
        get {
            return _Title ?? Value;
        }
        set
        {
            _Title = value;
        }
    }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    private void Press()
    {
        SendKey(Value);
    }

    private void SendKey(string key)
    {
        OscClient.SendAsync($"/eos/key/{key}");
    }
}
