@page "/"
@using EosWeb.Blazor.Data
@using System.Text
@using PubSub
@using Bespoke.Osc
@using EosWeb.Blazor.Pages
@using BlazorStrap

    <div class="commandArea">
        <Info />
        <CommandLine />
        <Keyboard />
        <CueList></CueList>
        <hr />
        <LogBox />
        <hr/>
        
    </div>
    
@code {
    
    private StringBuilder Log = new StringBuilder();
    
    
    //bool IsListening = false;
    Hub Hub = Hub.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        
    }

}
