@page "/"
@using EosWeb.Blazor.Data
@using System.Text
@using PubSub
@using Bespoke.Osc
@using EosWeb.Blazor.Pages

<p>Command Line: @commandLine</p>
@*<button @onclick="OnClickStart" disabled="@(IsListening)">start</button>
  <button @onclick="OnClickStop" disabled="@(!IsListening)">stop</button>*@

<table>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><EosMacro Title="Live" Value="713" /></td>
        <td><EosMacro Title="Blind" Value="714" /></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td><EosButton Value="Cue" /></td>
        <td><EosButton Value="Record" /></td>
        <td><EosButton Value="+" /></td>
        <td><EosButton Value="Thru" /></td>
        <td><EosButton Value="-" /></td>
        <td><EosButton Value="/" /></td>
        <td><EosButton Value="Mark" /></td>
        <td><EosMacro Title="Sneak" Value="705" /></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><EosButton Value="RecordOnly" /></td>
        <td><EosButton Value="7" /></td>
        <td><EosButton Value="8" /></td>
        <td><EosButton Value="9" /></td>
        <td><EosButton Value="RemDim" /></td>
        <td><EosMacro Title="+%" Value="701" /></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><EosButton Value="4" /></td>
        <td><EosButton Value="5" /></td>
        <td><EosButton Value="6" /></td>
        <td><EosButton Value="Out" /></td>
        <td><EosMacro Title="-%" Value="711" /></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><EosButton Value="Sub" /></td>
        <td><EosButton Value="Group" /></td>
        <td><EosButton Value="1" /></td>
        <td><EosButton Value="2" /></td>
        <td><EosButton Value="3" /></td>
        <td><EosButton Value="Full" /></td>
        <td><EosButton Value="Level" /></td>
        <td></td>
    </tr>
    <tr>
        <td><EosMacro Title="Stop" Value="716" /></td>
        <td><EosMacro Title="Go" Value="717" /></td>
        <td><EosButton Value="Time" /></td>
        <td><EosMacro Title="Clear" Value="706" /></td>
        <td><EosButton Value="0" /></td>
        <td><EosButton Value="." /></td>
        <td><EosButton Value="At" /></td>
        <td><EosButton Value="Enter" /></td>
        <td><EosMacro Title="Clear_CmdLine" Value="707" /></td>
        <td></td>
    </tr>
</table>


<hr />


<textarea>
    @Log.ToString();
</textarea>
@code {
    private string commandLine = "";
    private StringBuilder Log = new StringBuilder();

    //bool IsListening = false;
    Hub Hub = Hub.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Hub.Subscribe<OscPacket>((packet) =>
        {
            InvokeAsync(() =>
            {
                Log.AppendLine(packet.Address);
                StateHasChanged();

            });
        });
    }

}
