@page "/"
@using EosWeb.Blazor.Data
@using System.Text
@using PubSub
@using Bespoke.Osc
@using EosWeb.Blazor.Pages

    <div class="commandArea">
        <CommandLine/>
        <Keyboard/>
        <hr />
        <LogBox/>
    </div>
@code {
    
    private StringBuilder Log = new StringBuilder();
    
    
    //bool IsListening = false;
    Hub Hub = Hub.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        
    }

}
