@page "/"
@using EosWeb.Blazor.Data
@using System.Text
@using PubSub
@using Bespoke.Osc
@using EosWeb.Blazor.Pages

    <div class="commandArea">
        <CommandLine/>
        <div class="keyboard">
            <table class="eosbutton1wide">

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td><EosButton Value="go_to_cue" Title="GoTo Cue" /></td>
                    <td><EosButton Value="Block" /></td>
                    <td><EosButton Value="Assert" /></td>

                    <td><EosButton Value="Undo" /></td>
                    <td><EosButton Value="Live" /></td>
                    <td><EosButton Value="Blind" /></td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td><EosButton Value="Cue" /></td>
                    <td><EosButton Value="Record" /></td>

                    <td><EosButton Value="+" /></td>
                    <td><EosButton Value="Thru" /></td>
                    <td><EosButton Value="-" /></td>

                    <td><EosButton Value="/" /></td>
                    <td><EosButton Value="Mark" /></td>
                    <td><EosButton Value="Sneak" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                    <td><EosButton Value="Record_Only" Title="Record Only" /></td>

                    <td><EosButton Value="7" /></td>
                    <td><EosButton Value="8" /></td>
                    <td><EosButton Value="9" /></td>

                    <td><EosButton Value="RemDim" Title="Rem Dim" /></td>
                    <td><EosButton Value="+%" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td><EosButton Value="4" /></td>
                    <td><EosButton Value="5" /></td>
                    <td><EosButton Value="6" /></td>

                    <td><EosButton Value="Out" /></td>
                    <td><EosButton Value="-%" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2"><EosButton Class="eosbutton2wide" Value="Stop" /></td>

                    <td><EosButton Value="Sub" /></td>
                    <td><EosButton Value="Group" /></td>

                    <td><EosButton Value="1" /></td>
                    <td><EosButton Value="2" /></td>
                    <td><EosButton Value="3" /></td>

                    <td><EosButton Value="Full" /></td>
                    <td><EosButton Value="Level" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2"><EosButton Class="eosbutton2wide" Value="Go" /></td>

                    <td><EosButton Value="Time" /></td>

                    <td><EosButton Value="clear_cmd" Title="Clear" /></td>
                    <td><EosButton Value="0" /></td>
                    <td><EosButton Value="." /></td>

                    <td><EosButton Value="At" /></td>
                    <td colspan="2"><EosButton Class="eosbutton2wide" Value="Enter" /></td>


                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                    <td colspan="2"><EosButton Class="eosbutton2wide" Value="Clear_CmdLine" Title="Clear Cmd Line" /></td>
                </tr>
            </table>
        </div>

        <hr />
      <LogBox/>

    </div>
@code {
    
    private StringBuilder Log = new StringBuilder();
    
    
    //bool IsListening = false;
    Hub Hub = Hub.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        
    }

}
