@page "/"
@using EosWeb.Blazor.Pages

<div class="row mb-3">
     <CommandLine />
</div>
<div class="row">
    <div class="col-xs-12 col-lg-5 mt-3"><Keyboard /></div>
    <div class="col-xs-12 col-lg-7 mt-3"><CueList /></div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6"><LogBox /></div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6"><Info /></div>
</div>

@code {

    private StringBuilder Log = new StringBuilder();

    Hub Hub = Hub.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
