@page "/"
@using EosWeb.Blazor.Pages

    <div class="container-flex w-100">

        <div class="Row">
            <div col-12><CommandLine /></div>
            <br/>
        </div>
        <div class="Row">
            <div class="col-sm-8"><Keyboard /></div>
            <div class="col-sm-4"><CueList /></div>
        </div>
        <div class="Row"><div class="col-sm"><LogBox /></div></div>
        <div class="Row"><div class="col-sm-2"><Info /></div></div>
    </div>

@code {

    private StringBuilder Log = new StringBuilder();


    //bool IsListening = false;
    Hub Hub = Hub.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();


    }

}
