@using System.Text;
@using PubSub
@using Bespoke.Osc
@using Messages

<div hidden="@hidden">
    <textarea class="logText">
        @Log.ToString()
    </textarea>
    <br />
    <button @onclick=@(() => ClearLog())>Clear</button>
</div>

@code {
    private StringBuilder Log = new StringBuilder();
    Hub Hub = Hub.Default;
    private bool hidden = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Hub.Subscribe<OscPacket>((packet) =>
        {
            InvokeAsync(() =>
            {
                Log.Append(packet.Address + ": ");

                foreach (var item in packet.Data)
                {
                    Log.Append(item.ToString());
                }

                Log.AppendLine();
                StateHasChanged();

            });
        });

        Hub.Subscribe<UIToggle>((u) =>
        {
            InvokeAsync(() =>
            {
                if (u.Key == "Log")
                {
                    hidden = u.Hidden;
                }
                StateHasChanged();

            });
        });

    }

    private void ClearLog()
    {
        Log.Clear();
        StateHasChanged();
    }
}
