@inject IOscClient OscClient

    <div hidden="@hidden">
        <label>Enter Command</label><input @bind="@sendString" /><button @onclick="@Send">Send</button>
        <textarea class="logText">
        @Log.ToString()
    </textarea>
        <br />
        <button @onclick=@(() => ClearLog())>Clear</button>
    </div>

@code {
    private StringBuilder Log = new StringBuilder();
    Hub Hub = Hub.Default;
    private bool hidden = true;
    private string sendString = "/eos/get/";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Hub.Subscribe<OscPacket>((packet) =>
        {
            InvokeAsync(() =>
            {
                Log.Append(packet.Address + ": ");

                foreach (var item in packet.Data)
                {
                    Log.Append(item.ToString());
                }

                Log.AppendLine();
                StateHasChanged();

            });
        });

        Hub.Subscribe<UIToggle>((u) =>
        {
            InvokeAsync(() =>
            {
                if (u.Key == "Log")
                {
                    hidden = u.Hidden;
                }
                StateHasChanged();

            });
        });

    }

    private void Send()
    {
        OscClient.SendAsync(sendString);
    }
    private void ClearLog()
    {
        Log.Clear();
        StateHasChanged();
    }
}
